@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;800');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  color: #000;
  background: #fff;
  font: normal 18px/1.5 Georgia, sans;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}

main {
  display: block;

  width: 56rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 10% 4rem 2rem;

  color: #000;
  background-color: #fff;
}

main ul {
  margin: 2.5rem 0 0;
  padding: 0;
}

main li {
  display: block;
  position: relative;

  margin: 0 0 2.5rem;

  color: #000;
  font: 800 2.25rem/1.125 "Fira Sans", sans-serif;
}

main li strong {
  display: block;
}

main li a {
  font-size: 1rem;
  font-weight: 600;
}

main li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  main {
    padding: 1rem 2rem;
  }

  main li {
    font-size: 1.375rem;
  }

  main li a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding: 1rem 1.5rem;
  }
}

header {
  display: block;

  margin: 0;
  padding: 0;

  font: 600 1.125rem/1.25 "Fira Sans", sans-serif;

  color: #ffd167;
  background: #000;
}

header p {
  width: 56rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem 4rem;
}

header p span {
  display: block;
}

header a {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  header p {
    padding: 1rem 2rem;
  }

  header p span {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  header p {
    padding: 1rem 1.5rem;
  }
}

figure {
  display: block;
  position: relative;

  margin: 1.5rem 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: auto;
}

section {
  display: block;
  position: relative;

  overflow: hidden;
  background: #ffd167;
}

article {
  display: block;

  max-width: 56rem;
  margin: 1.5rem auto;
  padding: 2.5rem 4rem;

  color: #000;
  background: #fff;
  border-radius: 0.5rem;
}

article >:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  article {
    padding: 2rem;
    border-radius: 0;
  }
}

@media screen and (max-width: 767px) {
  article {
    padding: 1.25rem;
  }
}

article[data-header] {
  font-size: 1.125rem;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  article[data-header] {
    font-size: 0.9375rem;
  }
}

article[data-header] p {
  font-size: 1.25rem;
}

@media screen and (max-width: 1023px) {
  article[data-header] p {
    font-size: 1rem;
  }
}

article[data-disclaimer] {
  font-size: 1.125rem;
  font-family: "Fira Sans", sans-serif;

  background-color: #fef4da;
}

article[data-disclaimer] strong {
  font-size: 2rem;
}

@media screen and (max-width: 1023px) {
  article[data-disclaimer] strong {
    font-size: 1.75rem;
  }
}

article[data-disclaimer] p {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  article[data-disclaimer] p {
    font-size: 0.9375rem;
  }
}

figure figcaption {
  font: 600 0.9375rem/1.375 "Fira Sans", sans-serif;
}

figure figcaption p {
  margin: 0 0 1rem;
}

figure figcaption p:last-child {
  margin-bottom: 0;
}

h1 {
  position: relative;

  margin: 0 0 1rem;
  font: 800 3.25rem/1.075 "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h1 em {
  display: block;
  position: relative;

  margin-top: 0.5rem;
  font-size: 0.75em;
  font-weight: 600;
  font-style: normal;
}

h2 {
  margin: 0 0 1.5rem;
  font: 800 2.5rem/1 "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  h2 {
    margin: 0 0 1.25rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.75rem;
  }
}

h2 span {
  display: block;
  margin-bottom: 0.75rem;
  font: italic 1.5rem/1 Georgia, sans;
}

@media screen and (max-width: 1023px) {
  h2 span {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  h2 span {
    font-size: 1.125rem;
  }
}

h3 {
  margin: 2rem 0 1rem;
  font: 800 1.875rem/1.25 "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  h3 {
    margin: 1.5rem 0 0.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1.375rem;
  }
}

h4 {
  margin: 2rem 0 0.5rem;
  font: 800 1.25rem/1.375 "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  h4 {
    margin: 1.5rem 0 0.25rem;
    font-size: 1.125rem;
  }
}

iframe {
  width: 100%;
  border: none;
}

blockquote {
  margin: 1.5rem 0;
  font: 800 1.375rem/1.5 "Fira Sans", sans-serif;
}

@media screen and (max-width: 1023px) {
  blockquote {
    margin: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.375;
  }
}

@media screen and (max-width: 767px) {
  blockquote {
    margin: 1rem 0;
    font-size: 1rem;
  }
}

table {
  width: 100%;

  margin: 2rem 0;
  border-spacing: 0;

  font: 600 1rem/1.5 "Fira Sans", sans-serif;
}

table td {
  padding: 0.5rem 1.5rem 0.5rem 0;
}

table td strong {
  font-weight: 800;
}

table td {
  text-align: center;
}

table tr td {
  border-bottom: solid 1px #999;
}

table td:first-child {
  text-align: left;
}

p {
  margin: 0.75rem 0;
}

a {
  color: #26a8ed;
  text-decoration: none;

  border-bottom: solid 1px;
  transition: border 0.25s;
}

a:hover {
  border-bottom-color: transparent;
}

u {
  font-weight: 700;
  text-decoration: none;
}

ol {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  counter-reset: item;
}

ol li {
  display: flex;
  align-items: flex-start;
  counter-increment: item;
  margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  ol li {
    flex-flow: column wrap;
  }
}

ol li:before {
  content: counter(item) ".";

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 3.25rem;
  height: 3.25rem;

  margin: 0.375rem 1.5rem 0 0;
  font: 800 2rem/1 "Fira Sans", sans-serif;

  color: #000;
  background:#ffd167;
  border-radius: 0.25rem;
}

@media screen and (max-width: 1023px) {
  ol li:before {
    flex: 0 0 2.75rem;
    height: 2.75rem;
    margin-right: 1.25rem;

    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  ol li:before {
    width: 2.75rem;
    margin-bottom: 0.5rem;
  }
}

aside {
  display: flex;
}

aside > a {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  user-select: none;

  margin: 0.25rem;
  padding: 0.5rem;

  border-bottom: none;
  border-radius: 3px;
  background-color: #000;
}

aside > a:first-child {
  margin-left: 0;
}

aside > a svg {
  height: 1rem;
  width: 1rem;

  fill: #fff;
}

aside > a::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

a[data-back] {
  display: inline-block;

  margin-top: 1rem;
  padding: 0.75rem 2rem;

  font: 600 1.5rem/1.25 "Fira Sans", sans-serif;

  color: #fff;
  background-color: #fd3b6f;

  border: none;
  border-radius: 0.5rem;
  text-align: center;

  transition: filter 0.5s;
}

@media screen and (max-width: 767px) {
  a[data-back] {
    width: 100%;
    font-size: 1.25rem;
  }
}

a[data-back]:hover {
  filter: brightness(120%);
}

details {
  margin: 1.5rem -1.5rem;
  padding: 1.5rem;
  font: 600 1rem/1.5 "Fira Sans", sans-serif;
  background-color: #eee;
  border-radius: 0.25rem;
}

details summary {
  font-weight: 800;
  font-size: 1.25rem;

  cursor: pointer;
  user-select: none;
  outline: none;
}

@media screen and (max-width: 767px) {
  details {
    font-size: 0.875rem;
    margin: 1rem -0.75rem;
    padding: 0.75rem;
  }

  details summary {
    font-size: 1rem;
  }
}